[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req


[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = FR
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = 
localityName = Locality Name (eg, city)
localityName_default = None
organizationalUnitName	= Organizational Unit Name (eg, section)
organizationalUnitName_default	= Sewatech
commonName = Sewatech Demo
commonName_max	= 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = slide.server
DNS.2 = demo.server
DNS.3 = demo.proxy
IP.1 = 172.44.0.99
IP.2 = 172.44.0.100
IP.3 = 172.44.0.101

